.err {
  border: 2px solid red;
  color: red;
}
.success {
  border: 2px solid green;
  color: green;
}
.blog-post {
  border: 1px solid gray;
  padding: 0.6rem 0.4rem;
}
.blog-post .title {
  font-size: 1.1rem;
  font-weight: 600;
}
.blog-post .author {
  font-size: 0.95rem;
  font-weight: 500;
  color: rgb(77, 77, 77);
}
